body{
    height: 1500px;
    background-color: beige;
}

h1{

}

header{
    background-color: beige;
    
    height: 75px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

#babel{
    
    width: 10%;
}